# Idris2
build

# Experiments with Agda/Idris2 as I learn the languages (unrelated to
# formalisation of WTy2, but still kept in the repo locally for convenience)
Experiments


# Agda

*.agdai

# VSCode
*.vscode


